 Виртуальное окружение
venv/
backend/python_processor/venv/
python_processor/venv/
backend/configs/config.yaml

# Python
__pycache__/
*.pyc
*.so
*.pyd

# IDE
.vscode/
.idea/
EOF
/backend/python_processor/lfk_python.log
